body {
  margin: 0;
  background-color: #c5d5c5;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.main {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
}

select {
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  padding: 6px 10px;
  line-height: 29px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

select:hover {
  background-color: #f7fafa;
}
